<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
               <resource id="Bss_DigitalAssetsManage::digital_assets_report"
                         translate="true"
                         sortOrder="10"
                         title="Brand Digital Assets Report"/>
            </resource>
        </resources>
    </acl>
</config>
