<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Bss\DigitalAssetsManage\Observer\MoveCategoryDigitalAssetsObserver">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magento\Catalog\CategoryImageUpload</argument>
        </arguments>
    </type>

<!--    <preference for="Magento\Catalog\Model\Product\Gallery\Processor"-->
<!--                type="Bss\DigitalAssetsManage\Model\Product\Gallery\Processor" />-->
</config>
