<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Downloadable\Helper\File"
                type="Bss\DigitalAssetsManage\Helper\Downloadable\File"/>
    <preference for="Magento\Downloadable\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Downloadable"
                type="Bss\DigitalAssetsManage\Controller\Adminhtml\Product\Initialization\Helper\Plugin\Downloadable"/>
</config>
